// Media Query
$max-mobile-screen: "(max-width:767px)";
$min-mobile-screen: "(min-width:768px)";
$max-medium-screen: "(max-width:992px)";
$max-large-screen: "(max-width:1200px)";

// Colors
$main-color: #e2494c;
$grey-color: #9c9c9c;
